*{

    font-family: 'Cinzel', serif;
    margin: 0;
    padding: 0;

}

body{

    font-size: 20px;
    margin: 0px;
    overflow-x: hidden;
}

body[data-bs-theme="dark"] {
    background-color: #202020;
    color: #fff;
    
}

body[data-bs-theme="dark"] a{
    
    color: #fff;
    
}

body[data-bs-theme="dark"] .header_bann{
    
    box-shadow: 1px 1px 15px 17px rgba(87,0,0,0.81);
    background-image: linear-gradient(to bottom, rgba(170, 0, 0, 0.81), rgba(61, 0, 0, 0.81));
    color: #fff;
    border-bottom: 2px solid #ff0000;
    border-left: 0px solid #ff0000;
    border-right: 0px solid #ff0000;
    
}

body[data-bs-theme="dark"] .login-box{

    background: rgba(87,0,0,0.81);

}

body[data-bs-theme="dark"] .login-box p:first-child {
    
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    
}

body[data-bs-theme="dark"] .login-box .user-box input {
    
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    
}

body[data-bs-theme="dark"] .login-box .user-box label {
    color: #ffffff;
}

body[data-bs-theme="dark"] .login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {

    color: #ffffff;

}

body[data-bs-theme="dark"] .login-box form a {

    color: #ffffff;
    background: #630000;

}

body[data-bs-theme="dark"] .login-box a:hover {
    background: #b60000e8;
    color: #350000;
}


body[data-bs-theme="dark"] .login-box a span:nth-child(1) {

    background: linear-gradient(90deg, transparent, #ff0000);

}

body[data-bs-theme="dark"] .login-box a span:nth-child(2) {

    background: linear-gradient(180deg, transparent, #ff0000);

}



body[data-bs-theme="dark"] .login-box a span:nth-child(3) {

    background: linear-gradient(270deg, transparent, #ff0000);

}


body[data-bs-theme="dark"] .login-box a span:nth-child(4) {

    background: linear-gradient(360deg, transparent, #ff0000);

}

body[data-bs-theme="dark"] .login-box p:last-child {
    color: #fdfdfd;

}

body[data-bs-theme="dark"] .login-box a.a2 {
    color: #000000;

}

body[data-bs-theme="dark"] .login-box a.a2:hover {

    background-color: transparent;
    color: #ffffff;

}

body[data-bs-theme="dark"] .login-box a.b2 {
    
    color: #000000;
    background-color: transparent;


}

body[data-bs-theme="dark"] .login-box a.b2:hover {
    background: transparent;
    color: #ffffff;
}

body[data-bs-theme="dark"] .footer{
    
    box-shadow: 1px 1px 15px 17px rgba(87,0,0,0.81);
    border-top: 2px solid #ff0000;
    border-left: 0px solid #ff0000;
    border-right: 0px solid #ff0000;
    background-image: linear-gradient(to bottom, rgba(170, 0, 0, 0.81), rgba(61, 0, 0, 0.81));
    
}




.white-icon{

    color: #fff;

}

body[data-bs-theme="light"] {
    background-color: #f1fbfd;
    color: #000000;
}

body[data-bs-theme="light"] a{
    
    color: #000000;
    text-decoration: none;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #007bff;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
    transform: rotate(360deg);
    }
}

.scroll-to-top-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
}

.btn-to-top {
    display: inline-block;
    background-color: #c4c4c4;
    color: #555;
    padding: 10px 16px;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.btn-to-top:hover {
    background-color: #555;
    color: white;
}

.btn-to-top.active {
    opacity: 1;
}



/*CONTENEDOR*/

.contenedor {

    width: 95%;
    margin: auto;
    max-width: 10000px;
    display: grid;
    grid-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "header_bann header_bann header_bann header_bann"
        "Login-container Login-container Login-container  Login-container"
        "footer footer footer footer";
}

.contenedor> .contenedor .header_bann,
.contenedor .Login-container,
.contenedor .footer,

.contenedor .header_bann{

    grid-area: header_bann;

}

.contenedor .Login-container{

    grid-area: Login-container;
}


.contenedor .footer {

    grid-area: footer;


}

/*header_bann*/

.navbar_mobile{

    display: none;

}

.flex_ban {
    display: flex;
    align-items: center;
}

.lgo_tit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.contactos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.inicio_sesion {
    display: flex;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
    
}

.logo_grande {
    width: 60px;
    height: 60px;
    margin-right: 5px;
    transition: .8s ease all; 

}

.logo_grande:hover{

    text-decoration: none;
    transition: .5s;
    transform: scale(1.2);

}

.bann-titulo {
    font-weight: 600;
    font-size: 25px;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    align-items: center;
}

.contactos_bann {
    display: flex;
    flex-direction: center;
    text-decoration: none;
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 12px;
    margin-right: 25px;
    margin-left: 100px;
}

.contactos img {
    width: 20px;
    height: 20px;
    margin: 0px 5px 5px 5px;
}




.header_bann {
    width: 100%;
    z-index: 999;
    text-align: center;
    font-family: 'Cinzel', serif;
    background-image: linear-gradient(to bottom, rgba(0, 153, 173, 0.856), rgba(0, 153, 173, 0.753), rgba(82, 229, 248, 0.81), rgb(203, 247, 247));
    padding: 10px 20px;
    border-bottom: 4px solid rgba(207, 249, 255, 0.856);
    border-left: 2px solid rgba(245, 254, 255, 0.856);
    border-right: 2px solid rgba(237, 253, 255, 0.856);
    border-radius: 15px;
    box-shadow: 1px 1px 15px 17px rgba(0, 153, 173, 0.81);
}

.inicio_sesion a.ini_sesion {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    margin-right: 20px;
    font-size: 15px;
}

.Login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 800px;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 20px;
    margin-top: 400px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    background: rgb(0, 188, 212);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.login-box p:first-child {
    margin: 0 0 30px;
    padding: 0;
    color: #000;
    border-bottom: 1px solid #000000;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
    
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box {

    margin-top: 30px;
    margin-bottom: 30px;

}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #000;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #000;
    background: rgba(0, 140, 158, 0.986);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 3px
}

.login-box a:hover {
    background: rgba(0, 87, 99, 0.81);
    color: #272727;
    border-radius: 5px;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: btn-anim1 1.5s linear infinite;
}

.login-box a.b2 {
    color: #ffffffcc;
    text-decoration: none;
    background-color: transparent;
    font-size: 10px;
    display: flex;
    position: relative;
    padding: 0;
    letter-spacing: 0;
    margin-top: 0;

}

.login-box a.b2:hover {
    background: transparent;
    color: #ffffff;
    
}

@keyframes btn-anim1 {
    0% {
    left: -100%;
    }

    50%,100% {
    left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff);
    animation: btn-anim2 1.5s linear infinite;
    animation-delay: .375s
}

@keyframes btn-anim2 {
    0% {
    top: -100%;
    }

    50%,100% {
    top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff);
    animation: btn-anim3 1.5s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim3 {
    0% {
    right: -100%;
    }

    50%,100% {
    right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
    animation: btn-anim4 1.5s linear infinite;
    animation-delay: 1.125s
}

@keyframes btn-anim4 {
    0% {
    bottom: -100%;
    }

    50%,100% {
    bottom: 100%;
    }
}

.login-box p:last-child {
    color: #000000;
    font-size: 14px;
}

.login-box a.a2 {
    color: #ffffffcc ;
    text-decoration: none ;
    user-select: none ;
}

.login-box a.a2:hover {
    background: transparent;
    color: #ff0000 ;
    border-radius: 5px;
}



/*footer*/

.contenedor .footer {
    width: 95%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.footer{

    box-shadow: 1px 1px 15px 17px rgba(0, 153, 173, 0.81);
    background-image: linear-gradient(to bottom, rgba(0, 153, 173, 0.856), rgba(0, 153, 173, 0.753), rgba(82, 229, 248, 0.81), rgb(203, 247, 247));
    border-top: 2px solid rgba(207, 249, 255, 0.856);
    border-left: 2px solid rgba(245, 254, 255, 0.856);
    border-right: 2px solid rgba(237, 253, 255, 0.856);
    border-radius: 15px;

}

.footer img{

    height: 30px;
    width: 30px;
    }



@media screen and (max-width: 768px) {
    .contenedor {
        width: 95%;
        margin: auto;
        max-width: 10000px;
        grid-template-areas: 
            "header_bann  header_bann header_bann header_bann "
            "Login-container Login-container Login-container Login-container"
            "footer footer  footer footer ";
    }
    
    body{

        overflow-x: hidden;

    }

    

    .menu{

        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        
    }

    .contactos, .inicio_sesion{

        position: relative;
        display: inline;
        width: -100px;
        height: -100px;

    }



    .menu .menu__item{

        
        justify-content: center;
        align-content: center;
        width: 100px;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        margin: 10px 20px 10px 20px ;
        padding: 5px;

    }

    .container .header_bann{

        
        float: center;
        padding: 30px;

    }

    .header_bann a.contactos_bann{

        font-size: 15px;
        float: right;

    }

    .container .contactos{

        float: inline-start;

    }

    .col-10-sm {
        
        max-width: 83.33333%;
    }

    

    figure {
        
        display: block;
        text-align: center;
    }
    
    figcaption .content-wrapper{
        flex-direction: column-reverse;
        text-align: center;

    }

    figcaption .content-wrapper2{
        flex-direction: column-reverse;
        text-align: center;

    }

    .desktop {
        display: none; /* Oculta los elementos con clase "desktop" */
    }
    .navbar_mobile {
        display: inline;
         /* Muestra el navbar móvil */
    }

    .navbar-brand img {
        margin-left: 50px;
    }

    .navbar-collapse {
        background-color: #fff;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        z-index: 9999;
        padding: 20px;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
        display: none;
    }
    .navbar-collapse.show {
        display: block;
        margin-top: 25px;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .nav-item {
        margin: 10px 0;
    }

    .nav-link-item {
        font-size: 1.2rem;
        text-align: center;
        color: #000000;
    }
    

    .flex_ban{

        justify-content: space-between;
    }
    
    /* Estilos para el botón del navbar */
    .navbar-toggler-icon {
    background-size: contain;
    width: 40px;
    height: 40px;
    border: none;
    }

    
    /* Estilos para el menú principal */
    .navbar-nav {
    margin-left: auto;
    }
    
    .navbar-nav .nav-link-item {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    }
    
    
    
    
    .nos_iconos {
        
        width: 170px;
        height: 170px;
        margin: 20px;
        
    }

    .navbar_mobile[data-bs-theme="dark"] {
        background-color: #830000;

        
    }

    .navbar-collapse[data-bs-theme="dark"]{

        background-color: #360000;

    }

    .navbar-collapse.show[data-bs-theme="light"]{

        background-color: #00b0e0;

    }
    
    .navbar_mobile[data-bs-theme="light"] {
        background-color: #00b2df;

    }

    .navbar-toggler{

        border-radius: 10px;

    }

    body{

        margin: 0px;
        width: auto;
        height: auto;
    }

    .contenedor .header__titulo {

        font-size: 60px;

    }
}